@charset "UTF-8";

 @font-face{
  font-family: "symbols-nerds";
  src: url("font/symbols-nerds.eot?27841936");
  src: url("font/symbols-nerds.eot?27841936#iefix") format("embedded-opentype"),
     url("font/symbols-nerds.woff?27841936") format("woff"),
     url("font/symbols-nerds.ttf?27841936") format("truetype"),
     url("font/symbols-nerds.svg?27841936#symbols-nerds") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0){
  @font-face{
  font-family: "symbols-nerds";
  src: url("../font/symbols-nerds.svg?27841936#symbols-nerds") format("svg");
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before{
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
   
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before{ content: "\62"; } /* "b" */
.icon-facebook:before{ content: "\66"; } /* "f" */
.icon-twitter:before{ content: "\74"; } /* "t" */
.icon-vk:before{ content: "\76"; } /* "v" */
.icon-up-dir:before{ content: "\25b2"; } /* "▲" */
.icon-down-dir:before{ content: "\25bc"; } /* "▼" */
.icon-circle:before{ content: "\25cb"; } /* "○" */
.icon-circle-dot:before{ content: "\25cf"; } /* "●" */
.icon-check-off:before{ content: "\2610"; } /* "☐" */
.icon-check-on:before{ content: "\2611"; } /* "☑" */
.icon-instagramm:before{ content: "\1f4f7"; } /* "\1f4f7" */

body{
  font-family: "Roboto", Arial, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  background-color: #fff;
}

h1{
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin: 0;
}

a{
  text-decoration: none;
  color: #000;
}

main{
  padding: 80px 0;
}

.catalog{
  padding: 75px 0;
}

.container{
  width: 880px;
  margin: 0 auto;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.btn{
  display: block;
  padding: 10px 0; 
  margin-top: 25px;
  font-size: 12px;
  background: #fb565a;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;  
}

.btn:hover{
  background-color: #d64a4d;
}

.btn:active{
  background-color: #b63539;
  -webkit-box-shadow: inset 0 3px 0 0 #9b2d30;
  -moz-box-shadow: inset 0 3px 0 0 #9b2d30;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}

/* main-header */

.main-header{
  padding-top: 20px;
  background-color: #eee;
}

.main-header .logo{
  display: block;
  float: left;
  width: 139px;
  height: 56px;
}

.main-menu{
  float: right;
  margin-right: 13px;
}

.main-menu ul{
  max-width: 570px;
  list-style: none;
  padding: 25px 0;
  font-size: 0;
}

.main-menu li{
  display: inline-block;
  vertical-align: top;
  padding: 0 22px;
  font-size: 14px;
  line-height: 30px;
}

.main-menu a{
  display: block;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

header .active:after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

header .active:hover:after{
  display: none;
}

.main-menu a:hover,
.header-cart a:hover,
.header-cart a:hover:before{
  color: #fb565a;
}

.main-menu a:active,
.header-cart a:active,
.header-cart a:active:before{
  color: #cbcbcb;
}

.header-cart{
  float: right;
  position: relative;
  min-width: 100px;
  max-width: 150px;
  text-align: right;
  margin: 25px 0;
  margin-left: 30px;
}

.header-cart a{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 30px;
}

.header-cart a:before{
  position: absolute;
  display: block;
  left: 0;
  top: 5px;
  font-size: 16px;
  color: #bcbcbc;
}

/* slider */

.slider{
  position: relative;
  width: 880px;
  height: 310px;
  margin: 0 auto;
  padding-top: 20px;
  background-color: #eee;
}

.slider input[type=radio]{
  position: absolute;
  opacity: 0;
}

.slider-controls{
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -110px;
  text-align: center;
  z-index: 1000;
}

.slider-controls label{
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background-color: #fff;
  border: 3px solid #fff;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover{
  border: 3px solid #fb565a;
  background-color: #fff;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"]{ 
  background-color: #c1c1c1;
}

.slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text{
  max-width: 470px;
  padding: 50px 0;
  color: #283136;
}

.slide:nth-child(1)>.slide-text{
  max-width: 330px;  
}

.slide-title{
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: black;
}

.slide .btn{
  width: 240px;
  margin-top: 25px;
}

.slide:nth-child(1){
  background-image: url("../img/slide-computer.png");
  background-repeat: no-repeat;
  background-position: 100% 30px;
}

.slide:nth-child(2){
  background-image: url("../img/slide-calculator.png");
  background-repeat: no-repeat;
  background-position: 95% 30px;
}

.slide:nth-child(3){
  background-image: url("../img/slide-drugs.png");
  background-repeat: no-repeat;
  background-position: 100% 30px;
}

.slide{
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1),
#btn-2:checked ~ .slides .slide:nth-child(2),
#btn-3:checked ~ .slides .slide:nth-child(3){ 
  display: block;
}

/* features */

.features{
  margin-bottom: 60px;
  padding-bottom: 78px;
  border-bottom: 2px solid #eee;
}

.features-item{
  float: left;
  width: 240px;
  padding-right: 80px;
}

.features-item:last-child{
  padding-right: 0;
}

.features-title{
  padding-top: 20px;
  font-size: 18px;
  text-transform: uppercase;
}

.features-item p{
  width: 250px;
}

.features-item .btn{
  width: 140px;
}

.btn-green{
  background-color: #00ca74;
}

.btn-green:hover{
  background-color: #01a25e;
}

.btn-green:active{
  background-color: #009053;
  -webkit-box-shadow: inset 0 3px 0 0 #007b47;
  -moz-box-shadow: inset 0 3px 0 0 #007b47;
  box-shadow: inset 0 3px 0 0 #007b47;
}

.btn-yellow{
  background-color: #efc84a;
}

.btn-yellow:hover{
  background-color: #d6ae2b;
}

.btn-yellow:active{
  background-color: #c09c24;
  -webkit-box-shadow: inset 0 3px 0 0 #a4841f;
  -moz-box-shadow: inset 0 3px 0 0 #a4841f;
  box-shadow: inset 0 3px 0 0 #a4841f;
}

/* index-info */

.index-info{
  margin-bottom: 42px;
  padding-bottom: 60px;
  border-bottom: 2px solid #eee;
}

.index-info-left{
  float: left;
  width: 560px;
}

.index-info-right{
  float: right;
  width: 230px;
  margin-right: 10px;
}

.index-info h1{
  padding-top: 10px;
}

.index-info h2{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 30px 0 10px;
}

.index-info-logo{
  position: relative;
  margin-top: 0;
  margin-bottom: 76px;
  right: 10px;
  width: 187px;
}

.index-info-logo figcaption{
  position: absolute;
  top: 100px;
  right: -20px;
  text-transform: uppercase;
  width: 235px;  
}

.index-info-logo figcaption:before,
.index-info-logo figcaption:after{
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 2px;
  background-color: #eee;
  margin-right: 10px;
}

.index-info-logo figcaption:after{
  margin-right: 0;
  margin-left: 10px;
}

.index-info ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.index-info li{
  padding: 11px 0;
}

.index-info li:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 2px;
  margin-right: 10px;
  background-color: #fb565a;;
}

/* index-partners */

.index-partners{
  padding-bottom: 40px;
  border-bottom: 2px solid #eee;
}

.index-partners a{
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.glukhanko{
  background: url("../img/partners-logos.png") no-repeat 0 0;
  width: 198px;
  height: 37px;
  margin-left: 10px;
  margin-right: 120px;
}

.glukhanko:hover{
  background-position: 0 -221px;
}

.htmlacademy{
  background: url("../img/partners-logos.png") no-repeat 0 -47px;
  width: 199px;
  height: 68px;
  margin-right: 120px;
}

.htmlacademy:hover{
  background-position: 0 -268px;
}

.barbershop{
  background: url("../img/partners-logos.png") no-repeat 0 -125px;
  width: 209px;
  height: 86px;
  margin-right: 0;
}

.barbershop:hover{
  background-position: 0 -346px;
}

/* catalog-filter */

.catalog-title{
  width: 700px;
  margin: 0 auto;
  padding: 40px 0 85px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
}

.catalog-filter{
  float: left;
  width: 245px;
  margin-right: 75px;
}

.catalog-filter fieldset{
  border: none;
  margin-bottom: 33px;
  margin-left: 0;
  padding: 0;
}

.catalog-filter fieldset:last-of-type{
  margin-bottom: 43px;
}

.catalog-filter legend{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 0;
  width: 180px;
}

.catalog-filter label{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 17px;
}

input[type="checkbox"],
input[type="radio"]{
  display: none;
}

input[type="checkbox"]+label,
input[type="radio"]+label{
  color: #283136;
}

input[type="checkbox"]+label:hover,
input[type="radio"]+label:hover{
  color: #000;
}

input[type="checkbox"]+label:disabled,
input[type="radio"]+label:disabled{
  color: #a9adae;
}

input[type="checkbox"]+label:before,
input[type="radio"]+label:before{
  font-family: "symbols-nerds";
  font-size: 28px;
  color: #c1c1c1;
  position: absolute;
  left: 0;
}

input[type="checkbox"]+label:hover:before,
input[type="radio"]+label:hover:before{
  color: #b5b5b5;
}

input[type="checkbox"]+label:disabled:before,
input[type="radio"]+label:disabled:before{
  color: #e9e9e9;
}

input[type="checkbox"]+label:before{
  content: "\2610";
}

input[type="radio"]+label:before{
  content: "\25cb";
}

input[type="checkbox"]:checked+label:before{
  content: "\2611";
}

input[type="radio"]:checked+label:before{
  content: "\25cf";
}

.range-controls{
  position: relative;
  height: 41px;
  padding: 0 20px;
  padding-top: 39px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale{
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar{
  width: 160px;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle{
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  -moz-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min{
  left: 20px;
}

.range-controls .toggle-max{
  left: 160px;
}

.range-controls .toggle:hover{
  background-color: #1c4f80;
}

.price-controls{
  font-size: 0;
}

.price-controls label{
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: baseline;
  width: 50%;
  padding: 0;
}

.max-price{
  text-align: right;
}

.filter-cost input{
  width: 60px;
  padding: 8px 10px;
  margin-left: 5px;
  background-color: #eee;
  color: #283136;
  border: none;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;  
  text-align: center;
}

.filter-btn{
  padding: 11px 45px;
  border: none;
  outline: none;
}

.btn-gray,
.pages a{  
  background-color: #f1f1f1;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn-gray:hover,
.pages a:hover{
  background-color: #e5e5e5;
}

.btn-gray:active,
.pages a:active{
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 #b5b5b5;
  -moz-box-shadow: inset 0 3px 0 0 #b5b5b5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}

/* catalog-gallery */

.catalog-gallery{
  float: right;
  width: 560px;
  font-size: 0;
}

.catalog-gallery-top{
  margin-bottom: 20px;
}

.sorting{
  float: left;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.sorting-title{
  display: inline-block;
  vertical-align: top;
  margin-right: 35px;
}

.sorting-list{
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.sorting-list li{
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}

.sorting-list a{
  color: #cbcbcb;
  border-bottom: 1px dotted #00ca74;
}

.sorting-list a:hover{
  color: #000;
  border-bottom: 1px solid #00ca74;
}

.sorting-list a:active{
  color: #000;
  border-bottom: none;
}

.arrows{
  float: right;
  margin-right: 5px;
  font-size: 0;
  text-align: right;
}

.arrows a{
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  font-size: 23px;
  color: #c1c1c1;
}

.arrows .active{
  color: #00ca74;
}

.arrows a:hover{
  color: #b6b6b6;
}

.arrows a:active{
  color: #000;
}

.catalog-item{
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0;
  padding-top: 30px;
  margin-right: 80px;
  margin-bottom: 80px;
  width: 240px;
  height: 240px;
  font-size: 16px;
}

.catalog-item:before{
  content: "\2022\2022\2022";
  display: block;
  position: absolute;
  top: 0;
  padding-left: 10px;
  padding-top: 3px;
  width: 230px;
  height: 27px;
  background-color: #f1f1f1;
  color: #fff;
  font-size: 45px;
  letter-spacing: 2px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.catalog-item:hover:before{
  background-color: #797979;
}

.catalog-item:nth-child(2n){
  margin-right: 0;
}

.item-photo{
  display: block;
  background-color: #f1f1f1;
  width: 240px;
  height: 240px;
}

.item-description{
  display: none;
  position: absolute;
  top: 30px;
  margin: 20px;
  padding: 30px 20px;
  text-align: center;
  background-color: #fff;
}

.catalog-item:hover .item-description{
  display: block;
}

.item-title{
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.item-text{
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 18px;
}

.item-description .btn{
  margin: 0 auto;
  width: 140px;
  font-size: 18px;
}

.pages span,
.pages a{
  display: inline-block;
  vertical-align: top;
  padding: 8px 16px;
  margin-right: 10px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.pages span{
  background-color: #fff;
  border: 2px solid #f2f2f2;
  padding: 6px 14px;
  cursor: default;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.pages .pages-btn{
  padding: 8px 30px;
}

/* modal-content */

.modal-content{
  display: none;
  position: absolute;
  z-index: 100;
  top: -30px;
  left: 50%;
  margin-left: -325px;
  padding: 50px 80px;
  padding-right: 90px;
  width: 460px;
  background-color: #fff; 
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-content-show{
  display: block;
}

.modal-close.btn{
  position: absolute;
  right: 5px;
  top: -20px;
  width: 25px;
  height: 25px;
  font-size: 50px;
  padding: 8px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.modal-content label{
  display: block;
  font-weight: bold;  
}

.modal-content .half-width{
  float: left;
  margin-bottom: 15px;
}

.modal-content .half-width:nth-child(2n){
  float: right;
}

.modal-content input,
.modal-content textarea{
  display: block;
  padding: 10px 0;
  padding-left: 12px;
  margin: 0;
  margin-top: 8px;
  width: 203px;
  font-size: 12px;
  font-weight: normal;
  border: 2px solid #d7dcdf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.modal-content input:hover,
.modal-content textarea:hover{
  border: 2px solid #a3a8ac;  
}

.modal-content input:focus,
.modal-content textarea:focus{
  border: 2px solid #57bffc;  
}

.contact-text{
  clear: both;
  margin-bottom: 50px;
}

.contact-text textarea{
  padding-top: 5px;
  width: 445px;
  min-height: 95px;
  resize: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
  color: #000;
  text-transform: uppercase;
}

input::-moz-placeholder,
textarea::-moz-placeholder{
  color: #000;
  text-transform: uppercase;
}

.modal-content button{
  display: block;
  float: left;
  border: none;
  margin: 0;
  padding: 8px 0;
  width: 220px;
}

.modal-content .btn-gray{
  float: right;
}

/* footer */

.main-footer{
  position: relative;
}

.main-map{
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  height: 416px;
  background: #e9e5dd url("../img/main-map.png") no-repeat center;
}

.main-map iframe{
  border: 0;
  min-width: 880px;
  width: 100%;
}

.main-contacts{
  position: absolute;
  z-index: 5;
  top: 90px;
  width: 210px;
  padding: 30px 20px;
  background-color: #fff;
}

.main-contacts h3{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.main-contacts .btn{
  padding: 8px 0;
}

.footer-content{
  background-color: #fff;
  padding: 70px 0;
}

.footer-social{
  float: left;
  padding-top: 10px;
}

.footer-social a{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin-right: 25px;
  padding-top: 19px;
  width: 60px;
  height: 60px;
  background-color: #e1e1e1;
  color: #fff;
  font-size: 21px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.footer-social a:hover{
  background-color: #fb565a;
}

.footer-social a:active{
  background-color: #d64a4d;
  -webkit-box-shadow: inset 0 3px 0 0 #b93e41;
  -moz-box-shadow: inset 0 3px 0 0 #b93e41;
  box-shadow: inset 0 3px 0 0 #b93e41;
}

.footer-text{
  float: right;
  margin-right: 15px;
}

.footer-title{
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding: 15px 0 0;
}